<main>
    {% load static %}
      {% block content %}
    <form method= "post" action=>
      {% csrf_token %}
     <div class="row p-4">
      <div class="col">
        <label for="inputEmail4">Email</label>
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col">
        <label for="inputEmail4">Email</label>
        <input type="text" class="form-control" placeholder="Last name">
      </div>
     </div>
    <div class="row p-4">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
    </div>
  
    <div class="row p-4">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
    </div>

    <main>
        <form method= "post" action=>
         <div class="row p-4">
          <div class="col">
            <label for="inputEmail4">Email</label>
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <label for="inputEmail4">Email</label>
            <input type="text" class="form-control" placeholder="Last name">
          </div>
         </div>
        <div class="row p-4">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
      
        <div class="row p-4">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
    
    <!-- Footer -->
      <div class="row p-4">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name">
        </div>
      </div>
      </form>
    </main>
    {% endblock %}